body {
    background-color: #EEE1D1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.contenedor {
    background-color: #EEE1D1;
    height: 70vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #253822;
    font-size: 40px;
   }

h2 {
    color: #253822;
    font-size: 32px;
   
   }
p {
    color: #253822;
    font-size: 25px;
   }

